@import 'settings/all';

.section {
	position: relative;
	z-index: 2;
	padding: microbe-rem(30) 0;

	&--white {
		background-color: $background-surface;
	}

	&__decor {
		position: absolute;
		z-index: -1;
		width: microbe-rem(125);
		height: microbe-rem(71.25);
		top: 0;
		left: 50%;
		transform: translate(-50%, -25%);

		@include microbe-media(768px) {
			width: microbe-rem(200);
			height: microbe-rem(114);
		}

		@include microbe-media(1024px) {
			width: microbe-rem(280);
			height: microbe-rem(160);
		}
	}
}
